.u-section-1 .u-sheet-1 {min-height: 844px}
.u-section-1 .u-layout-wrap-1 {margin: 40px 0 80px auto}
.u-section-1 .u-layout-cell-1 {min-height: 724px}
.u-section-1 .u-container-layout-1 {padding: 30px 40px 30px 0}
.u-section-1 .u-text-1 {font-size: 5.3125rem; font-weight: 700; font-family: Oswald, sans-serif; margin: 164px -40px 0 9px}
.u-section-1 .u-layout-cell-2 {min-height: 724px}
.u-section-1 .u-container-layout-2 {padding: 30px 0 0}
.u-section-1 .u-image-1 {width: 597px; height: 567px; margin: 60px auto 0 -19px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 717px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 597px}
.u-section-1 .u-text-1 {font-size: 4.25rem; margin-top: 0; margin-left: 0; margin-right: 0}
.u-section-1 .u-layout-cell-2 {min-height: 597px}
.u-section-1 .u-image-1 {width: 501px; height: 476px; margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 220px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-right: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-image-1 {width: 384px; height: 365px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 320px}
.u-section-1 .u-layout-wrap-1 {margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-right: 10px}
.u-section-1 .u-text-1 {font-size: 3.75rem} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {font-size: 3rem}
.u-section-1 .u-image-1 {width: 340px; height: 323px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 1390px}
.u-section-2 .u-text-1 {margin: 60px auto 0}
.u-section-2 .u-custom-html-1 {min-height: 1165px; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 726px}
.u-section-2 .u-custom-html-1 {height: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 1049px} }